<html lang="es">
<head>
	<meta charset="UTF-8">
</head>
<body style="font-family: Helvetica; margin: 0px;">


	<img src="../assets/images/Gracias.jpg" alt="" width="100%">


	<p style="font-size: 14pt; padding-top: 20px;">Gracias por tu interés en participar <br>
							en nuestro evento:</p>
	<p style="font-size: 20pt;">IX Simposium de Centroamérica y el Caribe <br>
							de actualización en Odontoestomatología</p>
	<p style="font-size: 14pt; padding-bottom: 20px;">Uno de nuestros representantes <br>
							estará contactándote en los próximos días.</p>
						
					
</body>
</html>